.discover{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .discover_wrap{
        display: flex;
        width: calc(100vw - calc($marges * 6));
        aspect-ratio: 10/6;
        background-color: $color_noir;
        overflow: hidden;
        @media (max-width: 900px) {
            flex-direction: column;
            aspect-ratio: 8/10;
            width: clamp(360px, calc(100vw - calc($marges * 6)), 1000px);
        }
        @media (max-width: 550px) {
            width: calc(100vw - calc($marges * 2));
        }
        img{
            width: 60%;
            object-fit: cover;
            height: 100%;
            @media (max-width: 900px) {
                width: 100%;
                height: inherit;
            }
        }
        .discover_info{
            padding: 10%;
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            color:$color_beige;
            font-size: clamp(0.8em, 1.2vw, 1.25em);
            .signature{
                font-family: 'Signature Forest';
                font-size: clamp(1.2em, 2.5vw, 2.5em);
            }
        }
    }
}