.hero{
    width: $width;
    display: flex;
    height: calc(calc(47.5vw - 5vh) + 100px);
    position: relative;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    flex-direction: column;
    gap: 1.5vw;
    padding-top: calc(120px - 9vw);
    h1{
        font-weight: 900;
        text-align: left;
        width: calc($marges * 8);
        line-height: 1.2;
        margin-left: -1vw;
        display: flex;
        text-transform: capitalize;
        flex-direction: column;
        b{
            color: $color_violet;
            font-size: clamp(2em, 8vw, 8em);
        }
        i{
            margin-left: calc($marges * 1);
            font-size: clamp(1.9em, 8vw, 8vw);
            font-family: 'TT Runs Black Outline';
        }
        span{
            font-size: clamp(0.75em, 3.5vw, 3.5em);
            &:nth-of-type(1){
                margin-left: calc($marges * 2);
                margin-bottom: .25em;
            }
            &:nth-of-type(2){
                margin-left: calc($marges * 1);
            }
        }
    }
    p{
        width: calc($marges * 7);
        text-align: justify;
        font-family: 'TT Runs Trial';
        line-height: 1.375;
        font-weight: 500;
    }
    button{
        width: $marges;
        padding-block: 0.75vw;
    }
}

.heroTrois{

    border-bottom: 1px solid$color_violet;
    p, button, h1{
        margin-left: $marges;
        color: $color_beige;
    }
    p{
        @media (max-width: 600px) {
            width: calc($marges * 10);
        }
    }
    button{
        @media (max-width: 1600px) {
            width: calc($marges * 2);
        }
        @media (max-width: 900px) {
            width: calc($marges * 3);
        }
        @media (max-width: 600px) {
            width: calc($marges * 4);
        }
    }
    p, button{
        font-size: clamp(0.75em, 1.5vw, 1.2em);
    }
}