.hero{
    width: $width;
    display: flex;
    height: calc(calc(47.5vw - 5vh) + 100px);
    position: relative;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    gap: 1.5vw;
    padding-top: calc(120px - 9vw);
    
    .imgHero{
        position: absolute;
        animation: clipDivHero 1s cubic-bezier(0.75, 0, 0.5, 1);
        z-index: -1;
        overflow: hidden;
        transition: all 0.75s cubic-bezier(0.2, 0.2, 0.6, 1);
        &:nth-of-type(1){
            left: 0;
            top: 175px;
            img{
                width: calc($marges * 3);
                aspect-ratio: 10/12;
            }
        }
        &:nth-of-type(2){
            right: 0;
            bottom: 25px;
            img{
                width: calc($marges * 3);
                aspect-ratio: 3/2;
            }
        }
        img{
            filter: brightness(.5);
            object-fit: cover;
            transform: scale(0.9);
            animation: clipImgHero 1s 0.25s  ease-in-out forwards;
        }
    }
    h1{
        font-weight: 900;
        text-align: left;
        width: calc($marges * 8);
        line-height: 1.2;
        margin-left: -1vw;
        display: flex;
        text-transform: capitalize;
        flex-direction: column;
        mix-blend-mode: lighten;
        b{
            color: $color_violet;
            font-size: clamp(2em, 8vw, 8em);
        }
        i{
            margin-left: calc($marges * 1);
            font-size: clamp(1.9em, 8vw, 8vw);
            font-family: 'TT Runs Black Outline';
        }
        span{
            font-size: clamp(0.75em, 3.5vw, 3.5em);
            &:nth-of-type(1){
                margin-left: calc($marges * 2);
                margin-bottom: .25em;
            }
            &:nth-of-type(2){
                margin-left: calc($marges * 1);
            }
        }
    }
    p{
        width: calc($marges * 7);
        text-align: justify;
        font-family: 'TT Runs Trial';
        line-height: 1.375;
        font-weight: 500;
    }
    button{
        width: $marges;
        padding-block: 0.75vw;
    }
}


@keyframes clipImgHero {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}


.container_three{
        width: calc($width);
        height: 100%;
        position: absolute;
        inset: 0;
        canvas{
            position: absolute;
        }
    }





.heroTrois{
    height: calc(calc(47.5vw - 5vh) + 100px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-top: calc(120px - 9vw);
    width: 100vh;
    max-width: $width;
    gap: 1.5vw;
    margin-left: -$marges;
    h1{
        font-size: clamp(2em, 8vw, 8em);
        font-weight: 900;
        b{
            color: $color_violet;
        }
    }
    p, button, h1{
        margin-left: $marges;
        color: $color_beige;
    }
    p{
            width: calc($marges * 5);

    }
    button{
        @media (max-width: 1600px) {
            width: calc($marges * 2);
        }
        @media (max-width: 900px) {
            width: calc($marges * 3);
        }
        @media (max-width: 600px) {
            width: calc($marges * 4);
        }
    }
    p, button{
        font-size: clamp(0.60em, 1vw, 1em);
    }
    button{
        padding-block: clamp(0px, 2vw, 17.5px);
    }
}