*{
  box-sizing: border-box;
}

html,
body {
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background-color: $color_beige;
  color: $color_noir;
  background:
    conic-gradient(from 90deg at 1px 1px,$color_beige 90deg,#8f7dcc2f 0) 
    0 /8.33333333333vw;
}

#root{
  margin-inline: $marges;
  position: relative;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'TT Runs Trial';
}

button{
  background: none;
  border: 1.5px solid $color_violet;
  color: $color_beige;
  padding-block: 5%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  &::before{
    content: "";
    position: absolute;
    width: 160%;
    height: 100%;
    background-color: $color_violet;
    top: 0;
    left: -160%;
    opacity: .4;
    clip-path: polygon(0 0, 63% 0, 100% 100%, 0% 100%);

    transition: all ease-in-out .425s;
  }
  &:hover{
    &::before{
      left: 0;
    }
  }
}

