@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'TT Runs Trial Variable Roman';
    src: url('../fonts/TTRunsTrialVariableRoman.woff2') format('woff2'),
        url('../fonts/TTRunsTrialVariableRoman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Runs Trial';
    src: url('../fonts/TTRunsTrial-Medium.woff2') format('woff2'),
        url('../fonts/TTRunsTrial-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Runs Trial';
    src: url('../fonts/TTRunsTrial-ExtraLight.woff2') format('woff2'),
        url('../fonts/TTRunsTrial-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Runs Trial';
    src: url('../fonts/TTRunsTrial-Thin.woff2') format('woff2'),
        url('../fonts/TTRunsTrial-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Runs Trial';
    src: url('../fonts/TTRunsTrial-Black.woff2') format('woff2'),
        url('../fonts/TTRunsTrial-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Runs Trial';
    src: url('../fonts/TTRunsTrial-Bold.woff2') format('woff2'),
        url('../fonts/TTRunsTrial-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Runs Trial';
    src: url('../fonts/TTRunsTrial-DemiBold.woff2') format('woff2'),
        url('../fonts/TTRunsTrial-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Runs Black Outline';
    src: url('../fonts/TTRuns-BlackOutline.woff2') format('woff2'),
        url('../fonts/TTRuns-BlackOutline.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Runs Trial';
    src: url('../fonts/TTRunsTrial-Regular.woff2') format('woff2'),
        url('../fonts/TTRunsTrial-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Signature Forest';
    src: url('../fonts/SignatureForest.woff2') format('woff2'),
        url('../fonts/SignatureForest.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



